# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# build
.DS_Store
*.log
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
build
/dist
.rts2*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# for playroom
/playroom/node_modules
/playroom/sourceCopy

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf